<div class="content-container">
  <section class="info-box">
    <h2>Criação de Conta</h2>
    <p>Para utilizar a aplicação, será necessário criar uma conta fictícia.</p>
    <p>As informações fornecidas serão armazenadas apenas na memória do seu navegador (localStorage).</p>
    <p>
      Não será necessário fornecer dados reais e sua conta poderá ser removida a qualquer momento, 
      reiniciando a aplicação.
    </p> 
    <p>
      Ao criar sua conta fictícia, você poderá acessar todas as funcionalidades da aplicação, 
      como o gerenciamento de tarefas e muito mais.
    </p>
  </section>
  <button>Criar Conta Fictícia</button>
</div>
