<main>
  <h2>Adicionar Nova Tarefa</h2>
  <section>
    <form (ngSubmit)="onClick()">
      <div class="input-group">
        <label for="title">Título:</label>
        <input type="text" id="title" name="taskTitle" [(ngModel)]="taskTitle" required placeholder="Digite o título da tarefa">
      </div>

      <div class="input-group">
        <label for="description">Descrição:</label>
        <textarea type="text" id="description" name="taskDescription" [(ngModel)]="taskDescription" rows="4" required placeholder="Descreva a tarefa"></textarea>
      </div>

      <div class="input-group">
        <label for="status">Status:</label>
        <select id="status" name="taskStatus" [(ngModel)]="taskStatus" required>
          <option value="pendente">Pendente</option>
          <option value="concluída">Concluída</option>
          <option value="em progresso">Em progresso</option>
        </select>
      </div>

      <button type="submit">Adicionar Tarefa</button>
    </form>
  </section>
</main>
<main>
  <h2>Minhas Tarefas</h2>
  <section>
    <article *ngFor="let task of tasks; let i = index">
      <h3>Título da tarefa: {{ task.taskTitle }}</h3>
      <p><strong>Descrição:</strong> {{ task.taskDescription }}</p>
      <p><strong>Status:</strong> {{ task.taskStatus }}</p>
      <section class="manager">
        <button (click)="onEdit(i)">Editar</button>
        <button (click)="onDelete(i)">Excluir</button>
      </section>
    </article>
  </section>
</main>
