<main>
  <section>
    <h2>Cadastro</h2>
    <form id="signup-form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <div class="input-group">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required [(ngModel)]="userData.username">
      </div>
      <div class="input-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="userData.password">
      </div>
      <div class="input-group">
        <label for="confirm-password">Confirmar Senha:</label>
        <input type="password" id="confirm-password" name="confirm-password" required [(ngModel)]="userData.confirmPassword">
        @if (isInvalid) {
          <p class="isInvalid">Senhas inválidas</p>
        }
      </div>
      <button type="submit">Cadastrar</button>
    </form>
  </section>
  <section>
    <div>Já tem uma conta? <a routerLink="/login">Faça login</a></div>
  </section>
</main>
