* {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;  
  font-family: "Iceberg";
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  background-color: var(--bk-color);
  color: var(--text);
  box-sizing: border-box;
}
main {
  max-width: 60%;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-s);
}
section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
h2 {
  text-align: center;
  color: var(--text-shadow)
}
button {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--text-shadow);
  cursor: pointer;
}
button:hover {
  background-color: var(--box-s);
}

.dark {
  --bk-color: rgb(0, 0, 0);
  --text: rgb(240, 250, 255);
  --text-shadow: rgb(255, 0, 0);
  --border: rgba(255, 255, 255, 0.2);
  --box-s: rgba(255, 0, 0, 0.4);
}

@media (max-width: 768px) {
  * {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
@media (max-width: 468px) {
  * {
    font-size: 1rem;
    letter-spacing: 0.9px;
  }
  section {
    gap: 10px;
  }
}
