<main>
  <section>
    <h2>Criação de Conta</h2>
    <p>Para utilizar a aplicação, será necessário criar uma conta fictícia.</p>

    <p>Caso já tenha uma conta, <a routerLink="/login">acesse aqui</a>.</p>
    
    <p>As informações fornecidas serão armazenadas apenas na memória do seu navegador (localStorage).</p>

    <p>Não será necessário fornecer dados reais e sua conta poderá ser removida a qualquer momento, 
      reiniciando a aplicação.</p> 
      
    <p>Ao criar sua conta fictícia, você poderá acessar todas as funcionalidades da aplicação, 
      como o gerenciamento de tarefas e muito mais.</p>
  </section>
  <button routerLink="/cadastro">Criar Conta Fictícia</button>
</main>
