main {
  width: 30%;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ffffff2c;
  border-radius: 4px;
  box-sizing: border-box;
}
input:focus {
  border-color: var(--box-s);
  outline: none;
}

a {
  font-weight: bold;
  color: var(--text);
  text-decoration: none;
}
a:hover {
  color: var(--text-shadow);
}

@media (max-width: 768px) {
  main {
    width: 80%;
  }
}
